
    <!--
        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small>Copyright &copy; Your Website</small>
            </div>
        </footer>
     -->

    <!-- Footer -->
    <footer id="sticky-footer" class="text-center text-lg-start text-white" style="background-color: #C0C0C0">
        <div class="container p-4 pb-0">
            <section class="">
                <div class="row">

                    <!-- About Us -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">About Us</h6>
                        <p>
                            We are a travel agency that sells package and tailor-made trips to large parts of the world.
                        </p>
                    </div>
                    <!-- About Us -->

                    <!-- Quick Links -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Quick Links</h6>
                        <p>
                            <a class="text-white" th:href="@{/createUser}">Create User</a>
                        </p>
                        <p>
                            <a class="text-white" th:href="@{/createAdmin}">Create Admin</a>
                        </p>
                        <p>
                            <a class="text-white" th:href="@{/create-tour}">Create Tour</a>
                        </p>
                    </div>
                    <!-- Quick Links -->

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Contact -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <a class="text-white">Selected_Tours@travel.dk</a>
                        </p>
                    </div>
                    <!-- Contact -->
                </div>
            </section>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            <a class="text-white"> Copyright © 2021 Selected-Tours</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
