
.jumbotron {
    background-color: aliceblue;
}

#menu {
    color: floralwhite;
    font-family: "Arial Black";
    text-align: center;
}

body {
    background-image: url("../img/selected-tours.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin: 0 auto;
}

#add_passengers{
    padding-left: 450px;
}

#tours{
    padding-left: 12px;
}

h1 {
    font-family: revert;
    font-width: bold;
    color: black;
    text-align: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



