#menu {
    color: floralwhite;
    font-family: "Arial Black";
    text-align: center;
}

body {
    background-image: url("../img/selected-tours.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: aliceblue;
}

h1 {
    font-family: Arial;
    font-width: bold;
    color: black;
    text-align: center;
}

