body {
    background-image: url("../img/clouds.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5%;
}

.jumbotron {
    background-color: aliceblue;
}

h1 {
    font-family: Arial;
    font-width: bold;
    color: black;
}

